body {
	background-color: #C9CAD9;
	background-image: <img src=/images/scales_of_justice.jpg alt="Scales of Justice"
}
p { 
	color: #7796CB;
}

h1 {color: #576490;

}

h2 {color: #FFFFFF;
	font-style: italic;
}

li {
	color: #7796CB;
}

